# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
rsconnect/










# special files to ignore
*.csv
*.zip
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.mdb
*.docx
*.Rproj
.Rproj
Guidance/
data/
GIS/
WorkflowOutline/
Comments/
workingDatasets/
conventionals08152018EVJ.csv
processedStationData/
R&S_app_v1/Comments/
R&S_app_v1/exampleData/
R&S_app_v1/MaryTestDrive/
R&S_app_v1/GIS/
R&S_app_v1/data/
R&S_app_v1/exampleData/
R&S_app_v1/MaryTestDrive/
R&S_portableApp_3.5.2/
R&S_portableApp_3.5.2.zip 
Riverine_portableApp_v1.zip
R&S_app_v2/GIS/
R&S_app_v2/data/
R&S_app_v2/appModules_Testing/
stationTableResults2019-02-20.csv

