# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
rsconnect/










# special files to ignore
*.csv
*.zip
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.mdb
*.docx
*.Rproj
.Rproj
Guidance/
data/
demoApp/
endOfDay/
GIS/
WorkflowOutline/
Comments/
workingDatasets/
conventionals08152018EVJ.csv
processedStationData/
R&S_app_v1/Comments/
R&S_app_v1/exampleData/
R&S_app_v1/MaryTestDrive/
R&S_app_v1/GIS/
R&S_app_v1/data/
R&S_app_v1/exampleData/
R&S_app_v1/MaryTestDrive/
R&S_portableApp_3.5.2/
R&S_portableApp_3.5.2.zip 
Riverine_portableApp_v1.zip
R&S_app_v2/GIS/
R&S_app_v2/data/
R&S_app_v2/appModules_Testing/
stationTableResults2019-02-20.csv
R&S_portableApp_v2/
Riverine_portableApp_v1.zip
Riverine_portableApp_v2.zip
preprocessingWorkday/data/
preprocessingWorkday/GIS/
preprocessingWorkday/processedStationData/
preprocessingWorkday.zip
R&S_app_v3/GIS/
R&S_app_v3/data/
R&S_app_v3/appModules_Testing/
R&S_app_v3/processedStationData/
R&S_app_v3/Breaking/
R&S_app_v4/GIS/
R&S_app_v4/data/
R&S_app_v4/processedStationData/
R&S_app_v4/renv/

RiverineApp2020/GIS/
RiverineApp2020/data/
RiverineApp2020/appModules_Testing/
RiverineApp2020/processedStationData/
RiverineApp2020/renv/

preprocessingRegionalData/data/
preprocessingRegionalData/GIS/
preprocessingRegionalData/preprocessedStationData/
preprocessingRegionalData/snappingFunctions/
preprocessingRegionalData.zip

bacteriaAssessmentModule/bacteriaAssessmentModule_portable/
bacteriaAssessmentModule/data/

bacteriaAssessmentModule/bacteriaAssessmentModule_portable.zip
Riverine_portableApp_SWRO/
Riverine_portableApp_SWRO.zip

CitizenNonAgency/2020IR Citizen Ambient4.14.19.csv
CitizenNonAgency/2020IR Citizen Ambient4.14.19.xlsx
CitizenNonAgency/2020IR NONA ambient.xlsx
CitizenNonAgency/CitMonUniqueSamples.csv
CitizenNonAgency/preliminaryCitMonSpatialData.html
CitizenNonAgency/BRROdata/

R&S_app_Distribution/
R&S_app_Distribution.zip

RiverineAssessment2020/

preprocessingWorkday.zip
R&S_portableApp_3.5.2.zip
Riverine_portableApp_SWRO.zip
Riverine_portableApp_v1.zip
Riverine_portableApp_v2.zip

R&S_app_Distribution_portable/
RiverineApp2020/
R&S_portableApp_v2/
R&S_portableApp_3.5.2/
